.btn-reserva {
    width: 100%;
    background-color: green;
    color: white;
    
}


.jumbotron {
    background-color: red;
    color: yellow;
}
  
.libro {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}


.footer {
    padding: 10px 10px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
